.containerHeader{
    display: flex;
    align-items: stretch;
    box-sizing: border-box;
    background: rgb(219,96,192);
    background: linear-gradient(90deg, rgba(219,96,192,1) 28%, rgba(240,33,33,1) 100%);
}
.containerHeader h1{
    color: #FFCB05;
    display: flex;
    width: 100%;
    justify-content: center;
    font-weight: 950;
    text-shadow: 5px 5px 5px #3C5AA6;
    font-size: 5vw;
}

.containerOwned{
    display: flex;
    justify-content: center;
}
.containerOwned h1{
    font-size: 2vw;
}

.containerContentMyPokemon{
    display: flex;
    justify-content: space-between;
    flex: 1 1 auto;
    flex-direction: row;
}
.containerContentMyPokemon button {
    border-radius: 5px;
    color: #FFCB05;
    outline: none;
    background-color: #2A75BB;
    box-sizing: border-box;
    width: 20vw;
    height: 5vw;
    font-size: 2vw;
}
.containerContentMyPokemon button:hover{
    cursor: pointer;
}
.containerMyCatalog{
    display: flex;
    border: 4px solid #3C5AA6;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.containerMyCatalog .myCatalog{
    flex: 1;
    border: 1px solid #3C5AA6;
    text-align: center;
}
.containerMyCatalog button {
    border-radius: 5px;
    color: #FFCB05;
    outline: none;
    background-color: #2A75BB;
    box-sizing: border-box;
    width: 10vw;
    height: 5vw;
    font-size: 2vw;
}

.containerConfirm{
    display: flex;
    justify-content: center;
}
.containerConfirm button{
    border-radius: 5px;
    color: #FFCB05;
    outline: none;
    background-color: #2A75BB;
    box-sizing: border-box;
    width: 15vw;
    height: 4vw;
    font-size: 2vw;
}
.containerConfirm button:hover{
    cursor: pointer;
}