.containerCatch{
    display: flex;
    justify-content: center;
}
.containerCatch button{
    border-radius: 5px;
    color: #FFCB05;
    outline: none;
    background-color: #2A75BB;
    box-sizing: border-box;
    width: 20vw;
    height: 5vw;
    font-size: 2vw;
    font-weight: 600;
}